.jumbotron {
	text-align: center;
}
p {
	font-size: 16px;
	text-align: center;
	
}

p#answer{
	height: 30px;
}

.calculator {
	position: fixed;
	text-align: center;
	width: 250px;
	margin-left: 410px;
}

.keys{
width: 250px;
}

input {
	height:30px;
}

#firstBox,#secondBox {
	width: 101px;
	text-align: center;
}
#operatorBox {
	width: 39px;
	text-align: center;
}
#answer {
	width: 253px;
	text-align: center;
}